.home__tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.home__tile {
    z-index: 1;
    display: block;
    position: relative;
}

.home__case {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.home__case__image {
    position: relative;
    display: block;
    overflow: hidden;
}

.home__case__image__inner {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &::before {
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 1;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $color-fill-black-alpha-25;
    }
}

.home__tile__marquee {
    @include common-heading-styles();
    z-index: 1;
    left: 35%;
    bottom: 10%;
    opacity: 0.35;
    font-size: 80px;
    position: absolute;
    color: transparent;
    white-space: nowrap;
    transition: opacity 0.35s ease;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $color-text-base-ondark;

    @include breakpoint (medium up) {
        font-size: 120px;
    }
}

.home__case__photo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    object-fit: cover;
    transform: scale(1.05);
}

.home__case__logo {
    position: absolute;
    width: 200px;
    z-index: 1;
}

.home__case__pattern {
    @include dotted-background();
    width: 100%;
    height: 75%;
    display: block;
    position: absolute;
    z-index: -1;
}

.home__case__title {
    display: flex;
    align-items: center;
    margin-top: 20px;

    @include breakpoint(large up) {
        max-width: 500px;
        padding-right: 40px;    
    }
}

.home__case__title__inner {
    display: block;
}

.home__case__title__arrow {
    position: absolute;
    overflow: hidden;
    opacity: 50%;

    .icon {
        transform: translateX(-100%);
    }
}

// Backdrop that fades out the title

.home__tiles {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        background: linear-gradient(
            to bottom,
            rgba($color-fill-white, 0),
            $color-fill-white 60%,
            $color-fill-white 100%
        );
        z-index: 0;
    }

    .dark &::after {
        background: linear-gradient(
            to bottom,
            rgba($color-fill-gray-darkest, 0),
            $color-fill-gray-darkest 60%,
            $color-fill-gray-darkest 100%
        );
    }
}

// Hover and Click Effect

.home__case__image__inner::before,
.home__case__photo,
.home__case__title__inner,
.home__case__title__arrow .icon {
    transition: $transition-ui-default;
}

.home__case {
    @include breakpoint(large up) {
        &:hover,
        &:focus {
            .home__case__image__inner::before {
                opacity: 0.8;
            }

            .home__case__photo {
                transform: scale(1.02);
            }

            .home__case__title__inner {
                transform: translateX(40px);
            }

            .home__case__title__arrow .icon {
                transform: translateX(0);
            }

            .home__tile__marquee {
                opacity: 0.66;
            }
        }

        &:active {
            .home__case__image__inner::before {
                opacity: 1;
                transition-duration: 0.1s;
            }

            .home__case__photo {
                transform: scale(1);
                transition-duration: 0.1s;
            }
        }
    }
}

// Sizing

.home__tile {
    width: 33%;

    .home__case__image,
    .home__case__photo {
        height: 420px;
    }

    .home__case__pattern {
        top: 40px;
        left: -80px;
    }
}

.home__tile:nth-child(3n + 2) {
    width: 45%;

    .home__case__image,
    .home__case__photo {
        height: 740px;
    }

    .home__case__pattern {
        top: -80px;
        left: 80px;
    }
}

// Spacing & Position

.home__tiles {
    margin-bottom: -200px;
}

.home__tile {
    margin-bottom: 240px;
}

.home__tile:nth-child(1) {
    margin-top: -10vh;
}

.home__tile:nth-child(2) {
    margin-top: -5vh;
}

.home__tile:nth-child(3) {
    margin-top: -320px;
}

.home__tile:nth-child(5) {
    margin-top: -100px;
}

.home__tile:nth-child(6) {
    margin-top: -300px;
}

@include breakpoint(medium down) {
    .home__tile {
        width: 41.7%;

        .home__case__image,
        .home__case__photo {
            height: 35vw;
        }

        .home__case__pattern {
            top: 40px;
            left: -40px;
        }
    }

    .home__tile:nth-child(3n + 2) {
        width: 66.7%;

        .home__case__image,
        .home__case__photo {
            height: 55vw;
        }

        .home__case__pattern {
            top: -40px;
            left: 40px;
        }
    }

    .home__tiles {
        margin-bottom: -120px;
    }

    .home__tile {
        margin-bottom: 200px;
    }

    .home__tile:nth-child(1) {
        margin-top: -120px;
    }

    .home__tile:nth-child(2) {
        margin-top: -15vh;
        order: -1;
    }

    .home__tile:nth-child(4) {
        order: 1;
        margin-top: 320px;
    }

    .home__tile:nth-child(5) {
        margin-top: 60px;
        margin-left: auto;
    }

    .home__tile:nth-child(6) {
        margin-top: -160px;
        order: 2;
    }
}

@include breakpoint(small down) {
    .home__tile {
        width: 75%;

        .home__case__image,
        .home__case__photo {
            height: 60vw;
        }

        .home__case__pattern {
            top: 20px;
            left: -20px;
        }
    }

    .home__tile:nth-child(3n + 2) {
        width: 100%;

        .home__case__image,
        .home__case__photo {
            height: 110vw;
        }

        .home__case__pattern {
            top: -20px;
            left: 20px;
        }
    }

    .home__tiles {
        margin-bottom: 0;
    }

    .home__tile {
        margin-bottom: 100px;
    }

    .home__tile:nth-child(1) {
        margin-top: 0;
    }

    .home__tile:nth-child(2) {
        margin-top: -10vh;
        order: -1;
    }

    .home__tile:nth-child(3) {
        margin-top: 0;
        margin-left: auto;
    }

    .home__tile:nth-child(4) {
        order: 0;
        margin-top: 0;
    }

    .home__tile:nth-child(5) {
        margin-top: 0;
        margin-left: auto;
    }

    .home__tile:nth-child(6) {
        margin-top: 0;
        order: 2;
    }
}




.home__quote {
    padding-top: 100px;
    padding-bottom: 48px;
    min-height: 480px;
    display: flex;
    align-content: center;
    @include backdrop-blur(rgba($color-fill-white, 0.4), transparent);

}

.home__quote__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        display: block;
    }

    &::before {
        @include dotted-background();
        flex: none;
        height: 280px;
    }

    &::after {
        flex: 1 1 auto;
        background-color: $color-fill-black-alpha-03;
    }

    .home__tile__marquee {
        position: absolute;
        -webkit-text-stroke-color: $color-text-tertiary-onlight;
    }
}

.home__quote__content {
    position: relative;
    max-width: 460px;
    left: 80px;
    flex: none;
}


.home__quote__icon {
    @include icon-size($icon-size-xxl);
    margin-bottom: 40px;
}

.home__quote__body {
    margin-bottom: 24px;
}