.card {
	position: relative;
	 
	&::before {
		@include dashed-background(
            $color-ui-divider-dotted-onlight,
            $size-ui-dotted-line-large
        );
        content: "";
        top: 0;
        left: 0;
        height: $size-ui-dotted-line-large;
        width: 100%;
        position: absolute;
	}

	.dark &::before {
		@include dashed-background(
            $color-ui-divider-dotted-ondark,
            $size-ui-dotted-line-large
        );
	}
}