
$featured-image-size-large: (
    small: 300px,
    medium: 480px,
    large: 540px,
);

$featured-image-size-small: (
    small: 200px,
    medium: 320px,
    large: 400px,
);




.featured-image {
    position: relative;

    // Dot Pattern

    &::before {
        @include dotted-background();
        content: "";
        width: 50%;
        height: 100%;
        position: absolute;
        top: -40px;
        right: -40px;
    }
}

.featured-image__mask {
    width: 100%;
    height: 600px;
    overflow: hidden;

    @include breakpoint-style("height", $featured-image-size-large);
}

.featured-image__inner {
    width: 100%;
    position: relative;
    object-fit: cover;
}

.featured-image--small {
    @include breakpoint-style("height", $featured-image-size-small);
}
