$input-height-lg: 56px;
$input-height-md: 48px;

@mixin input-placeholder($color) {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $color;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: $color;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: $color;
    }
}

// @JESS: I moved all input styles to a mixin so I can apply to different classes in the legacy files
@mixin input {
    @include disabled();
    @include type-paragraph-md();

    width: 100%;
    color: inherit;
    display: flex;
    align-items: center;
    height: $input-height-md;

    background-color: $color-fill-gray-lighter;
    -webkit-appearance: none;
    padding: 12px 16px;
    border: none;

    &:hover {
        background-color: $color-fill-gray-light;
    }

    &:focus {
        background-color: rgba($color-text-primary-onlight, 0.05);
        outline: none;
    }

    &.input--lg {
        @include type-paragraph-lg();
        padding: 14px 20px;
        height: $input-height-lg;
    }

    .input-wrapper--invalid &,
    &:invalid,
    &[invalid],
    &[aria-invalid="true"] {
        background-color: rgba($color-text-accent-orange-onlight, 0.05);

        &:hover,
        &:focus {
            background-color: rgba($color-text-accent-orange-onlight, 0.08);
        }
    }

    /*
  &.input--select {
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-image: url("/img/icons/ic-dropdown-caret.svg");

    &::-ms-expand {
      display: none;
    }
  }*/
    @include input-placeholder($color-text-tertiary-onlight);
}


.input {
    // @JESS: Apply mixin here
   @include input();
}

textarea.input {
    height: auto;
}

.dark {
    .input {
        background-color: $color-fill-white-alpha-05;

        &:hover {
            background-color: $color-fill-white-alpha-10;
        }

        &:focus {
            background-color: rgba($color-text-primary-ondark, 0.12);
        }

        .input-wrapper--invalid &,
        &:invalid,
        &[invalid],
        &[aria-invalid="true"] {
            background-color: rgba($color-text-accent-orange-ondark, 0.05);

            &:hover,
            &:focus {
                background-color: rgba($color-text-accent-orange-ondark, 0.08);
            }
        }
    }
}
