// -----------------------------------------------------------------------------
// Link list
// -----------------------------------------------------------------------------

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__item {
    display: block;

    &:first-child .list__button::before {
        display: block;
    }

    .list__item--no-top-border .list__button::before {
        display: none;
    }

    .list__item--no-bottom-border .list__button::after {
        display: none;
    }
}

.list__button {
    display: flex;
    color: inherit;

    .button__label {
        flex: 1 1 auto;
    }

    .button__icon {
        color: $color-text-tertiary-onlight;
    }

    &:hover,
    &:focus {
        color: $color-text-primary-onlight;

        .button__icon {
            color: inherit;
        }
    }

    &::before,
    &:after {
        @include dashed-background($color-ui-divider-dotted-onlight);
        transform: none;
    }

    &::before {
        top: 0;
        display: none;
    }

    &::after {
        bottom: 0;
    }
}

.dark {
    .list__button {

        .button__icon {
            color: $color-text-tertiary-ondark;
        }

        &::before,
        &:after {
            @include dashed-background($color-ui-divider-dotted-ondark);
        }

        &:hover,
        &:focus {
            color: $color-text-primary-ondark;
            .button__icon {
                color: inherit;
            }
        }
    }
}


// -----------------------------------------------------------------------------
// Regular List
// -----------------------------------------------------------------------------

// @JESS: Also updated these style below to allow for multi-line bullet list without weird indentation
.list--bullets {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;

    li {
        margin-bottom: 0.25em;
    }

    li:before {
        @include icon-pseudo($ic-angle-right);
        width: 0;
        opacity: 50%;
        left: -1.4em;
        position: relative;
        display: inline-block;
    }
}