// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

$font-path: "/src/fonts/";


// -----------------------------------------------------------------------------
// Swiss 721 Font
// -----------------------------------------------------------------------------


// Regular

@font-face {
    font-family: "Swiss 721";
    src: url($font-path + "Swiss 721/Swiss721-Roman.eot"); /* IE9 Compat Modes */
    src: 
        url($font-path + "Swiss 721/Swiss721-Roman.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url($font-path + "Swiss 721/Swiss721-Roman.woff2") format("woff2"), /* Super Modern Browsers */
        url($font-path + "Swiss 721/Swiss721-Roman.woff") format("woff"), /* Pretty Modern Browsers */
        url($font-path + "Swiss 721/Swiss721-Roman.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Swiss 721";
    src: url($font-path + "Swiss 721/Swiss721-Italic.eot"); /* IE9 Compat Modes */
    src: 
        url($font-path + "Swiss 721/Swiss721-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url($font-path + "Swiss 721/Swiss721-Italic.woff2") format("woff2"), /* Super Modern Browsers */
        url($font-path + "Swiss 721/Swiss721-Italic.woff") format("woff"), /* Pretty Modern Browsers */
        url($font-path + "Swiss 721/Swiss721-Italic.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}

// Medium

@font-face {
    font-family: "Swiss 721";
    src: url($font-path + "Swiss 721/Swiss721-Medium.eot"); /* IE9 Compat Modes */
    src: 
        url($font-path + "Swiss 721/Swiss721-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url($font-path + "Swiss 721/Swiss721-Medium.woff2") format("woff2"), /* Super Modern Browsers */
        url($font-path + "Swiss 721/Swiss721-Medium.woff") format("woff"), /* Pretty Modern Browsers */
        url($font-path + "Swiss 721/Swiss721-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Swiss 721";
    src: url($font-path + "Swiss 721/Swiss721-MediumItalic.eot"); /* IE9 Compat Modes */
    src: 
        url($font-path + "Swiss 721/Swiss721-MediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url($font-path + "Swiss 721/Swiss721-MediumItalic.woff2") format("woff2"), /* Super Modern Browsers */
        url($font-path + "Swiss 721/Swiss721-MediumItalic.woff") format("woff"), /* Pretty Modern Browsers */
        url($font-path + "Swiss 721/Swiss721-MediumItalic.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
}

// Bold

@font-face {
    font-family: "Swiss 721";
    src: url($font-path + "Swiss 721/Swiss721-Bold.eot"); /* IE9 Compat Modes */
    src: 
        url($font-path + "Swiss 721/Swiss721-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url($font-path + "Swiss 721/Swiss721-Bold.woff2") format("woff2"), /* Super Modern Browsers */
        url($font-path + "Swiss 721/Swiss721-Bold.woff") format("woff"), /* Pretty Modern Browsers */
        url($font-path + "Swiss 721/Swiss721-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Swiss 721";
    src: url($font-path + "Swiss 721/Swiss721-BoldItalic.eot"); /* IE9 Compat Modes */
    src: 
        url($font-path + "Swiss 721/Swiss721-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url($font-path + "Swiss 721/Swiss721-BoldItalic.woff2") format("woff2"), /* Super Modern Browsers */
        url($font-path + "Swiss 721/Swiss721-BoldItalic.woff") format("woff"), /* Pretty Modern Browsers */
        url($font-path + "Swiss 721/Swiss721-BoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
}

// Expanded

@font-face {
    font-family: "Swiss 721";
    src: 
        url($font-path + "Swiss 721/Swiss721-Extended.woff2") format("woff2"), /* Super Modern Browsers */
        url($font-path + "Swiss 721/Swiss721-Extended.woff") format("woff"), /* Pretty Modern Browsers */
        url($font-path + "Swiss 721/Swiss721-Extended.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: 400;
    font-style: normal;
    font-stretch: expanded;
}


// -----------------------------------------------------------------------------
// Icon Font
// -----------------------------------------------------------------------------

@font-face {
    font-family: "Fenwick Icons";
    src: url($font-path + "Fenwick Icons/Fenwick-Web-Icons.ttf")
            format("truetype"),
        url($font-path + "Fenwick Icons/Fenwick-Web-Icons.woff") format("woff"),
        url($font-path + "Fenwick Icons/Fenwick-Web-Icons.svg") format("svg"),
        url($font-path + "Fenwick Icons/Fenwick-Web-Icons.eot#iefix")
            format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}