// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// Text Color
.text--primary {
    color: $color-text-primary-onlight !important;

    .dark & {
        color: $color-text-primary-ondark !important;
    }
}

.text--accent-orange {
    color: $color-text-accent-orange-onlight !important;

    .dark & {
        color: $color-text-accent-orange-ondark !important;
    }
}

.text--secondary {
    color: $color-text-secondary-onlight !important;

    .dark & {
        color: $color-text-secondary-ondark !important;
    }
}

.text--tertiary {
    color: $color-text-tertiary-onlight !important;

    .dark & {
        color: $color-text-secondary-ondark !important;
    }
}

// Text weight
.text-weight--medium {
    font-weight: $font-weight-medium;
}

.text-weight--bold {
    font-weight: $font-weight-bold;
}


// Spacings

@mixin spacing-generator($side, $count: 30) {
    @for $i from 1 to $count {
        .margin-#{$side}--#{$i * 4} {
            margin-#{$side}: $i * 4px !important;
        }
        .padding-#{$side}--#{$i * 4} {
            padding-#{$side}: $i * 4px !important;
        }
    }
}

@include spacing-generator(top);
@include spacing-generator(bottom);
@include spacing-generator(left);
@include spacing-generator(right);
