
// Binder Page

.binder-hero {
    h2 {
        @include type-h5();
        margin-bottom: 32px;
        color: $color-text-primary-onlight;
    }
    p {
        max-width: 800px;;
        color: inherit;
        @include type-h2();
    }
}

.binder-hero ~ .page-container {
    padding-top: 80px;

    .page-columns {
        align-items: flex-start;
    }

    .main {
        @include xy-cell(12 of 12);
        @include xy-gutters(0);

        @include breakpoint(large up) {
            @include xy-cell(6 of 12);
            @include xy-gutters(0);
            @include xy-cell-offset(1 of 12);
        }
    }

    .flex-between {
        @include type-h3();
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;

        > span {
            color: inherit !important;
        }

        .binder-group {
            flex: none;
        }

        .btn--round {
            @include button-base();
            @include button--secondary();

            svg {
                display: none;
            }

            &::after {
                font-size: $icon-size-md;
                width: $icon-size-md;
                @include icon-pseudo($ic-share);
            }
        }

        .btn--text-only {
            @include button-base();
            @include button--md();
            @include button--rounded();
            @include button--solid();
            @include button--solid($color-text-base-onlight, $color-fill-gray-light);
            border-radius: $button-height-md / 2;
        }
    }

    .binder-group {
        margin-top: 64px;

        h4 {
            @include type-h5();
        }

        .card__remove {
            @include button-base();
            @include button--md();
            @include button--circle();
            @include button--secondary();
            margin-left: 16px;
            background: $color-fill-black-alpha-05;
            padding: 0;
            width: $button-height-md;    
        }

    }

    .side {
        @include xy-cell(12 of 12);
        @include xy-gutters(0);
        order: -1;
        padding: 32px;
        background-color: $color-fill-gray-lighter;
        border-radius: 4px;
        margin-bottom: 64px;

        @include breakpoint(large up) {
            @include xy-cell(4 of 12);
            @include xy-gutters(0);
        }

        h2 {
            @include type-h5();
        }

        .side-utility-nav {
            margin: 0;
            padding: 0;
            //display: flex;
            order: 1;
            margin-top: 56px;
        }

        .side-utility-nav a {
            @include button-base();
            @include button--md();
            @include button--rounded();
            @include button--secondary();
            border-radius: $button-height-md / 2;
            width: 100%;
            text-align: center;
            justify-content: center;
            margin-bottom: 8px;
        }


        .side-wrapper {
            display: flex;
            flex-direction: column;
            padding-top: 0;
        }

        .side-block {
            margin-top: 32px;
        }

        .side__nav {
            @include xy-cell(12 of 12);
            @include xy-gutters(0);
            width: 100%;
            position: static;

            li,
            .btn,
            .btn-list {
                margin: 0;
                min-width: 0;
                width: 100%;
            }

            .btn.btn--active {
                color: $color-text-primary-onlight;

                &::before {
                    @include icon-pseudo($ic-check);
                }
            }
        }

        .btn--text-only {
            @include button-base();
            @include button--rounded();
            @include button--md();
            @include button--solid();
            border-radius: $button-height-md / 2;
            margin-top: 24px;
        }
    }
}
