// Cookie Banner
// Styles are set to !important to override inline-styling that's set on the cookie banner itself


#truste-consent-track {
    background-color: transparent !important;
}

.truste-banner,
#truste-consent-content {
    width: 100%;
    max-width: 320px !important;
    background-color: $color-fill-gray-darker;
    padding: 32px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px !important;
    margin-left: auto !important;
	box-shadow: 0px 20px 24px -5px #0000001F, 0px 6px 4px 0px #00000017;
    border-radius: 4px !important;
}

.truste-messageColumn,
.truste-button1,
.truste-button2,
.truste-cookie-link,
#truste-consent-text,
#truste-consent-text > h2  {
    color: $color-text-base-ondark !important;
	font-family: $font-family-default !important;
	letter-spacing: 0.01em;
    float: none !important;
	font-stretch: normal !important;
	font-weight: $font-weight-regular !important;
	width: auto !important;

    @each $breakpoint, $breakpoint-style in $font-size-paragraph-sm {
        @if map-has-key($breakpoints, $breakpoint) {
            $breakpoint: map-get($breakpoints, $breakpoint);
        }
        @media screen and (min-width: $breakpoint) {
            font-size: $breakpoint-style !important;
        }
    }

	@each $breakpoint, $breakpoint-style in $line-height-paragraph-sm {
        @if map-has-key($breakpoints, $breakpoint) {
            $breakpoint: map-get($breakpoints, $breakpoint);
        }
        @media screen and (min-width: $breakpoint) {
            line-height: $breakpoint-style !important;
        }
    }

}

.truste-messageColumn, 
#truste-consent-text{
    margin: 0 !important;

}

.truste-buttonsColumn,
#truste-consent-buttons {
    float: none !important;
    margin: 24px 0 0 !important;
}

.truste-button1,
.truste-button2,
#truste-consent-button,
#truste-show-consent {
	@include disabled();
    @include appearance-reset();
    position: relative !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    font-weight: $font-weight-regular !important;
    color: $color-text-base-ondark !important;
    background-color: transparent !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
	justify-content: center !important;
	text-align: center !important;
    padding: 0 1.5em !important;
    border-radius: 50% !important;
    border: 1px dotted $color-fill-white-alpha-50 !important;
    overflow: hidden !important;
	width: 100% !important;
	margin: 8px 0 !important;
    height: $button-height-sm !important;
	border-top-left-radius: $button-height-sm / 2 !important;
    border-top-right-radius: $button-height-sm / 2 !important;
    border-bottom-right-radius: $button-height-sm / 2 !important;
    border-bottom-left-radius: $button-height-sm / 2 !important;

    &:hover, &:focus {
		background-color: $color-fill-white-alpha-05 !important;

    }

    &:active {
		opacity: 0.5 !important;
        transform: translateY(1px) !important;
    }
}

.truste-button2,
#truste-consent-button {
	border-color: transparent !important;
	background-color: $color-fill-white-alpha-10 !important;

	&:hover,
	&:focus {
		border-color: transparent !important;
		border: 1px solid transparent !important;
		background-color: $color-fill-white-alpha-15 !important;
	}

	&:active {
		opacity: 1 !important;
		background-color: darken($color-fill-white-alpha-10, 10%) !important;
	}

}

.truste-cookie-link {
    cursor: pointer;
    color: $color-text-primary-ondark !important;
    text-decoration: underline;
    display: block !important;
	width: 100%;
	text-align: center !important;
    padding: 12px 0 0 !important;
}

.truste-cookie-link {
}
