.reveal-overlay {
    @include backdrop-blur($color-fill-black-alpha-50, $color-fill-black-alpha-50);   
}

.reveal {
    padding: 40px;

    .btn {
        @include button-base;
        @include button--md;
        @include button--rounded;
        border-radius: $button-height-md / 2;
        margin-right: 8px;
        margin-top: 24px;
        transition: none;
        height: $button-height-md;
    }

    .close-button {
        @include button-base;
        @include button--circle;
        @include button--md;
        @include button--secondary;
        position: absolute;
        top: 16px;
        right: 16px;

        &::after {
            @include icon-pseudo($ic-close);
            font-size: $icon-size-md;
        }

        span {
            display: none;
        }
    }
}
