
// Pagination

.ais-Pagination-list {
    display: flex;
    padding-left: 0;
    margin: 64px auto 80px;
    justify-content: center;
}

.btn.ais-Pagination-link {
    @include button-base;
    @include button--circle;
    @include button--sm;
    @include button--secondary;

    &::after {
        display: none;
    }

    &:hover,
    &:focus {
        padding: 0;
    }
}

