

.ais-SearchBox-form {
    position: relative;

    input {
        padding-left: 40px;
    }
}

.ais-SearchBox-submit {
    @include button-base;
    @include button--circle;
    @include button--secondary;
    @include button--sm;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: $icon-size-sm;
    opacity: 0.4;

    svg {
        display: none;
    }

    &::after {
        @include icon-pseudo($ic-search);
    }
}