h1 {
    @include type-h1();
}

h2 {
    @include type-h2();
}

h3 {
    @include type-h4();
    margin-bottom: 0.75em;
}

h4 {
    @include type-h4();
    margin-bottom: 0.75em;
}

p {
    @include type-paragraph-lg();
    margin-bottom: 0.75em;
}