// Button Styles

a.btn {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.btn--round {
    @include button-base;
    @include button--md;
    @include button--circle;

    > span {
        @include type-paragraph-sm();
        top: 100%;
        width: auto !important;
        height: auto !important;
        clip: initial !important;
        opacity: 0;
        display: block !important;
        margin-top: 5px;
        padding: 4px 10px !important;
        visibility: hidden;
        position: absolute;
        border-radius: 2px;
        white-space: nowrap;
        transform: translateY(-25%);
        color: $color-text-base-ondark;
        transition: $transition-ui-default;
        background-color: $color-fill-gray-darker;
    }

    &:hover > span,
    &:focus > span {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        //transition-duration: 0.1s;
    }
}

.btn-list {
    padding: 0;
    margin: 20px 0;
}

// List Buttons

.btn-group--stacked,
.content-block .wrapper:not(.wrapper--binder) .btn-group,
.side .btn-list {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;

    &.btn-group--stacked .btn,
    .btn:not(:only-child),
    li .btn {
        @include button--md();
        min-width: 320px;
        color: inherit;
        border-bottom: 1px dotted $color-ui-divider-dotted-onlight;
        justify-content: flex-start;

        &::before {
            opacity: 0.5;
            order: -1;
            margin-right: 16px;
            margin-left: 0;
        }

        &::after {
            display: none;
        }

        &:hover,
        &:focus {
            color: $color-text-primary-onlight;

            &::before {
                margin-right: 32px;
                margin-left: 0;
            }
        }
    }
}

.section-head-block,
.body-copy-block,
.btn-group--stacked {
    .btn:not(:only-child),
    &.btn-group--stacked .btn {
        &:first-child {
            border-top: 1px dotted $color-ui-divider-dotted-onlight;
        }
    }
}

.side .btn-list {
    li:first-child .btn {
        border-top: 1px dotted $color-ui-divider-dotted-onlight;
    }
}

// Card Buttons

.btn-list,
.btn-group--stacked,
.section-head-block,
.body-copy-block,
.card {
    .btn {
        @include button-base();
        @include ui-underline();
        @include button--underline();
        justify-content: space-between;
        border-bottom: 1px dotted currentColor;

        &::before {
            @include icon-pseudo($ic-arrow-right);
            position: static;
            background: none;
            height: auto;
            order: 1;
            margin-left: 32px;
            transition: $transition-ui-default;
            border: none;
        }

        &::after {
            bottom: -1px;
        }

        &:hover::before,
        &:focus::before {
            margin-left: 48px;
        }
    }

    .btn {
        @include button--lg();
    }
}

// Input Styles
.page-container {
    input[type="search"],
    input[type="url"],
    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
        @include input;
        border-bottom: 1px dotted $color-text-tertiary-onlight;

        &:hover {
            border-bottom: 1px solid $color-text-base-onlight;
        }

        &:focus {
            border-bottom: 1px solid $color-text-primary-onlight;
        }

        &:invalid,
        &[invalid],
        &[aria-invalid="true"] {
            border-bottom: 1px dotted $color-text-accent-orange-onlight;

            &:hover,
            &:focus {
                border-bottom: 1px solid $color-text-accent-orange-onlight;
            }
        }

        .dark & {
            border-bottom: 1px dotted $color-text-tertiary-ondark;

            &:hover {
                border-bottom: 1px solid $color-text-base-ondark;
            }

            &:focus {
                border-bottom: 1px solid $color-text-primary-ondark;
            }

            &:invalid,
            &[invalid],
            &[aria-invalid="true"] {
                border-bottom: 1px dotted $color-text-accent-orange-ondark;

                &:hover,
                &:focus {
                    border-bottom: 1px solid $color-text-accent-orange-ondark;
                }
            }
        }
    }

    select {
        position: relative;
        background-image: url("/src/img/icon_dropdownarrow_onlight.svg");
        background-size: $icon-size-md $icon-size-md;
        background-position: center right 12px;
        background-repeat: no-repeat;

        .dark & {
            background-image: url("/src/img/icon_dropdownarrow_ondark.svg");
        }
    }

    form {
        margin-bottom: 0;

        .group:not(:last-child) {
            margin-bottom: 20px;
        }

        .group {
            h3 {
                @include type-paragraph-md();
                position: relative;
                padding: 20px 0;
                margin: 32px 0;

                &::before,
                &::after {
                    left: 0;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    content: "";
                    @include dashed-background($color-text-tertiary-onlight);
                }

                &::before {
                    top: 0;
                }

                &::after {
                    bottom: 0;
                }

                .btn.btn--text-only {
                    @include link-base();
                    @include link-underline();
                    line-height: inherit;
                    font-family: inherit;
                    font-size: inherit;
                    height: auto;
                }
            }
        }

        label {
            color: $color-text-secondary-onlight;
        }

        .btn[type="submit"],
        .group > .btn,
        .flex-between > .btn {
            @include button-base;
            @include button--md;
            @include button--rounded;
            border-radius: $button-height-md / 2;
            margin-right: 8px;
            margin-top: 24px;
            transition: none;
            height: $button-height-md;

            &::before,
            &::after {
                display: none;
            }

            &[type="submit"] {
                @include button--solid;
            }
        }
    }
}
