.nav {
    width: 100%;
    padding-top: $navbar-offset;
    z-index: $zindex-navigation;
    height: $navbar-height + $navbar-offset;

    a {
        text-decoration: none;
    }
}

ul {
    list-style: none;
}

.nav__grid-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__center {
    height: 100%;
    flex: 1 1 auto;
}

.nav__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    height: 100%;
    color: currentColor;
    transform: scale(1.2) translate3d(0, 0, 0);
    transform-origin: left center;
    transition: transform 0.35s ease;
    color: inherit;

    &:active {
        opacity: 0.5;
    }

    .icon::before {
        width: auto;
    }
}

.nav__right__divider {
    @include dashed-background-vertical();
    height: 16px;
    width: 1px;
    margin: 0 12px;
    opacity: 0.25;
}

.nav__menu {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav__item {
    height: 100%;
}

.nav__link {
    @include type-paragraph-md();
    display: flex;
    align-items: center;
    color: inherit;
}

.nav__megamenu__background {
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    max-height: 90vh;
    position: absolute;
    transform-origin: top;
    background-color: $color-fill-gray-darkest;
    z-index: -1;

    @supports (backdrop-filter: $filter-navigation-background) {
        background-color: $color-ui-megamenu-background;
        backdrop-filter: $filter-navigation-background;
    }
}

.nav__megamenu__underlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: $color-fill-black-alpha-50;
    z-index: -1;
}

.nav__megamenu__link {
    display: flex;
    align-items: center;
    color: inherit;

    .nav__megamenu__link__arrow .icon,
    .nav__megamenu__link__label {
        transition: $transition-ui-default;
    }

    &:hover,
    &:focus {
        color: $color-text-primary-ondark;

        .icon {
            transform: translateX(100%);
        }
        .nav__megamenu__link__arrow {
            color: inherit;
        }
        .nav__megamenu__link__label {
            transform: translateX(40px);
        }
    }
}

.nav__megamenu__link__arrow {
    display: block;
    width: $icon-size-lg;
    height: $icon-size-lg;
    overflow: hidden;
    display: flex;
    color: $color-text-secondary-ondark;

    .icon {
        display: block;
        @include icon-size($icon-size-lg);
    }

    &:first-child {
        margin-right: -$icon-size-lg;

        .icon:first-child {
            margin-left: -$icon-size-lg;
        }
    }

    &:last-child {
        margin-left: 16px;
    }
}

.nav__megamenu {
    //display: none;
    position: absolute;
    left: 0;
    top: $navbar-height + $navbar-offset;
    width: 100%;
    padding-bottom: 40px;
    max-height: calc(90vh - #{$navbar-height + $navbar-offset});
    color: $color-text-base-ondark;
    overflow: auto;
}

.nav__megamenu__head {
    display: block;
    padding: 64px 0;
    max-width: 400px;
}

.nav__megamenu__title {
    @include type-h3();
    margin-bottom: 16px;
    color: $color-text-base-ondark;
}

.nav__megamenu__description {
    @include type-paragraph-lg();
    display: block;
    color: $color-text-secondary-ondark;
}

.nav__megamenu__columns {
    justify-content: space-between;
}

.nav__megamenu__subpages {
    margin: 0;
    padding: 0;

    &:first-child {
        padding-top: 40px;
    }
}

.nav__megamenu__column {
    position: relative;

    &::before {
        @include dashed-background(
            $color-ui-divider-dotted-ondark,
            $size-ui-dotted-line-large
        );
        content: "";
        top: 0;
        left: 0;
        height: $size-ui-dotted-line-large;
        width: 100%;
        position: absolute;
    }
}

.nav__megamenu__column__title {
    @include type-h5();
    height: 80px;
    display: flex;
    align-items: center;
    color: $color-text-base-ondark;

    .nav__megamenu__link__label {
        flex: 1 1 auto;
    }
}

.nav__megamenu__subpage__link {
    @include type-paragraph-sm();
    color: $color-text-secondary-ondark;
    padding: 4px 0;

    .nav__megamenu__link__arrow {
        width: $icon-size-sm;
        height: $icon-size-sm;

        .icon {
            @include icon-size($icon-size-sm);
        }

        &:first-child {
            margin-right: -$icon-size-sm;

            .icon:first-child {
                margin-left: -$icon-size-sm;
            }
        }
    }

    &:hover,
    &.focus {
        .nav__megamenu__link__label {
            transform: translateX(28px);
        }
    }
}

.nav__megamenu__insight {
    display: flex;
    padding-top: 40px;
}

.nav__megamenu__insight__label {
    color: $color-text-tertiary-ondark;
    flex: 0 0 40%;
}

.nav__megamenu__insight__content {
    flex: 0 0 60%;
}

.nav__megamenu__insight__title {
    margin-bottom: 24px;
    color: $color-text-base-ondark;
}

.nav__megamenu__insight__date {
    color: $color-text-tertiary-ondark;
    margin-bottom: 16px;
}

// Default View:

.nav__megamenu {
    visibility: hidden;
}

.nav__megamenu__column,
.nav__megamenu__head {
    opacity: 0;
    transform: translateY(-40px);
    transition: opacity 0.1s 0s $ease-in-quad, transform 0s 0.1s linear;
}

.nav__megamenu__background,
.nav__megamenu__underlay {
    transition: all 0.25s ease;
}

.nav__megamenu__background {
    transform: scaleY(0) translate3d(0, 0, 0);
}

.nav__megamenu__underlay {
    visibility: hidden;
    opacity: 0;
}

// Hamburger & Search Buttons:

.nav__action {
    position: relative;
}

.nav__action__icon--default,
.nav__action__icon--close {
    transition: $transition-ui-default;
}

.nav__action__icon--default {
    transition: transform 0.3s 0.15s $ease-out-quad,
        opacity 0.2s 0.15s $ease-out-quad;
}

.nav__action__icon--close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 0;
    transition: transform 0.2s $ease-in-quad, opacity 0.2s $ease-in-quad;
}

.nav__action--active,
.nav__item--active {
    .nav__action__icon--default {
        transform: rotate(45deg);
        opacity: 0;
        transition: transform 0.2s $ease-in-quad, opacity 0.2s $ease-in-quad;
    }
    .nav__action__icon--close {
        transform: translate(-50%, -50%) rotate(0);
        opacity: 1;
        transition: transform 0.2s 0.15s $ease-out-quad,
            opacity 0.2s 0.15s $ease-out-quad;
    }
}


// Search View:

.nav__search {
    height: auto;

    .nav__megamenu__column {
        margin-left: 100px;
    }

    &.nav__item--active {

    }
}

@include breakpoint(large up) {
    .nav {
        position: fixed;
        background-color: $color-fill-white;
        transition: $transition-ui-default, backdrop-filter 0s linear;

        @supports (backdrop-filter: $filter-navigation-background) {
            background-color: $color-ui-navbar-background-onlight;
            backdrop-filter: $filter-navigation-background;
        }

        .dark & {
            background-color: $color-fill-gray-darkest;

            @supports (backdrop-filter: $filter-navigation-background) {
                background-color: $color-ui-navbar-background-ondark;
            }
        }
    }

    .nav__left,
    .nav__right {
        width: 25%;
        height: 100%;
    }

    .nav--scrolled {
        height: $navbar-height;
        padding-top: 0;
        box-shadow: inset 0 -1px 0 0 $color-fill-black-alpha-05;

        .nav__logo {
            transform: scale(1) translate3d(0, 0, 0);
        }
    }

    .nav .nav__link {
        @include type-paragraph-md();
        height: 100%;
        padding: 0 14px;
        font-weight: $font-weight-medium;
        color: $color-text-tertiary-onlight;

        &:hover,
        &:focus {
            color: $color-text-base-onlight;
        }

        .dark & {
            color: $color-text-tertiary-ondark;

            &:hover,
            &:focus {
                color: $color-text-base-ondark;
            }
        }
    }

    .nav__button--hamburger {
        display: none;
    }

    .nav.nav--megamenu-open {
        color: $color-text-base-ondark;
        backdrop-filter: none;

        .nav__link {
            color: $color-text-tertiary-ondark;

            &:hover,
            &:focus {
                color: $color-text-base-ondark;
            }
        }

        .nav__item--active .nav__link {
            color: $color-text-base-ondark;
        }

        .nav__megamenu__background,
        .nav__megamenu__underlay {
            transition: all 0.5s $ease-out-cubic;
        }

        .nav__megamenu__background {
            transform: scaleY(1) translate3d(0, 0, 0);
        }

        .nav__megamenu__underlay {
            visibility: visible;
            opacity: 1;
        }

        .nav__item--active {
            .nav__megamenu__column,
            .nav__megamenu__head {
                opacity: 1;
                transform: translateY(0);
                transition: all 0.35s 0.15s $ease-out-quad;
            }

            .nav__megamenu__column {
                @for $i from 1 to 5 {
                    &:nth-child(#{$i}) {
                        transition-delay: $i * 0.05s + 0.15s;
                    }
                }
            }

            .nav__megamenu {
                visibility: visible;
            }
        }
    }
}

@include breakpoint(medium down) {
    .nav {
        position: absolute;
        background-color: transparent;
    }

    .nav__right,
    .nav__left {
        @include xy-grid-container();
        top: 0;
        width: auto;
        padding-top: $navbar-offset;
        height: $navbar-height + $navbar-offset;
    }

    .nav__left {
        position: absolute;
        left: 0;
    }

    .nav__right {
        position: fixed;
        right: 0;
    }

    .nav__button--search,
    .nav__button--hamburger {
        &.button {
            width: $button-height-lg;
            height: $button-height-lg;
        }
    }

    .nav__button--hamburger {
        color: $color-text-base-ondark;
        background-color: $color-fill-gray-darker;

        .dark & {
            color: $color-text-base-onlight;
            background-color: $color-fill-gray-light;
        }
    }

    .nav__button--search {
        color: $color-text-base-onlight;
        background-color: $color-fill-gray-light;

        .dark & {
            color: $color-text-base-ondark;
            background-color: $color-fill-gray-darker;
        }
    }

    .nav__center {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
    }

    .nav__item .nav__megamenu {
        display: none;
    }

    .nav__menu {
        @include xy-grid-container;
        flex-direction: column;
    }

    .nav__item {
        height: auto;
    }

    .nav__link {
        @include type-h1();
        padding: 6px 0;
        color: $color-text-base-ondark;

        &::after {
            @include icon-pseudo($ic-arrow-right);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.5em;
            line-height: 1.5;
            font-size: 0.4em;
            background: $color-fill-gray-darker;
            border-radius: 50%;
            margin-left: 0.5em;
            margin-top: 0.5em;
            padding-right: 0.1em;
        }
    }

    .nav__megamenu__background,
    .nav__megamenu__underlay {
        max-height: none;
        position: fixed;
    }

    .nav__item {
        opacity: 0;
        transform: translateY(-20%);
    }

    .nav.nav--hamburger-open {
        color: $color-text-base-ondark;

        .nav__megamenu__background,
        .nav__megamenu__underlay {
            transition: all 0.5s $ease-out-quart;
        }

        .nav__megamenu__background {
            height: 100%;
            transform: scaleY(1) translate3d(0, 0, 0);
        }

        .nav__megamenu__underlay {
            visibility: visible;
            opacity: 1;
        }

        .nav__left {
            position: fixed;
        }

        .nav__center {
            visibility: visible;
        }

        .nav__action {
            color: $color-text-base-ondark;
            background-color: $color-fill-gray-darker;
        }

        .nav__action--active {
            color: $color-text-base-onlight;
            background-color: $color-fill-gray-light;
        }
        .nav__item {
            opacity: 1;
            transform: translateY(0);
            transition: $transition-ui-default;

            @for $i from 1 to 10 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 0.05s + 0.1s;
                }
            }
        }
    }
}
