.searchfield {
  @include ui-underline($color-ui-divider-dotted-onlight, 2px);
  position: relative;

  &:focus-within {
    @include ui-underline($color-text-primary-onlight, 2px);
  }

  &::before,
  &::after {
    top: 100%;
  }
}

.searchfield__input {
  @include input-placeholder($color-text-tertiary-onlight);
  @include breakpoint-style("font-size", $font-size-h5);
  @include breakpoint-style("line-height", $line-height-h5);

  height: auto;
  font-size: inherit;
  line-height: inherit;
  padding: 16px 240px 16px 64px;
}

.searchfield__icon {
  top: 50%;
  left: 20px;
  position: absolute;
  pointer-events: none;
  transform: translateY(-50%);
  opacity: 0.4;
}

.searchfield__actions {
  @include breakpoint-style("font-size", $font-size-paragraph-sm);
  @include breakpoint-style("line-height", $font-size-paragraph-sm);

  top: 50%;
  right: 0;
  opacity: 0;
  display: flex;
  position: absolute;
  align-items: center;
  pointer-events: none;
  padding-right: 0.75em;
  transform: translateY(-50%);

  .button {
    font-size: inherit;
    margin-left: 16px;
  }

  .searchfield__helper {
    margin: 0;
    font-size: inherit;
    pointer-events: none;
    opacity: 0.4;
  }
}

.searchfield__input:focus ~ .searchfield__actions {
  opacity: 1;
  pointer-events: auto;
}

.dark {
  .searchfield {
    @include ui-underline($color-ui-divider-dotted-ondark, 2px);

    &:focus-within {
      @include ui-underline($color-text-primary-ondark, 2px);
    }
  }

  .searchfield__input {
    @include input-placeholder($color-text-tertiary-ondark);
  }
}
