.dark {
	color: $color-text-base-ondark;
}

.theme--gray-darkest {
	background-color: $color-fill-gray-darkest;
}

.theme--gray-darker {
	background-color: $color-fill-gray-darker;
}

.theme--primary {
	background-color: $color-fill-primary-darker;
}

.theme--gray-light {
	background-color: $color-fill-gray-light;
}

.theme--gray-lighter {
	background-color: $color-fill-gray-lighter;
}